body{
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

/* sidebarnya */
.sidebar{
    width: 382px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #121212;
    float: left;
    flex-direction: column;
}

/* logo app dan title */
.app{
    display: flex;
    width: auto;
    padding: 5%;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 5%;
}

.app h2{
    font-size: 23px;
    font-weight: bold;
    color: white;
}

/* list menu */

ul li{
    list-style: none;
}

ul li a{
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    color: #e0e0e0;
}

/* konten */
.content{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    position: relative;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 90vh;
    width: 65vw ;
    border-radius: 30px;
    padding: 20px 5px;
    padding-left: 40px;
}


/* button submit */
.btn{
    background-color: green;
    border-radius: 5px;
    margin-bottom: 2%;
    width: 100px;
    height: 40px;
    margin-top: 5%;
    border: none;
}

.btn a{
    text-decoration: none;
    color: white;
}

/* table */

.table_konten table{
    border-collapse: collapse;
    font-size: 14px;
    border-spacing:0 ;
    width: 97%;
    box-shadow: 0 0 8px rgba(0,0,0,20);
}

.table_konten thead tr{
    background-color: #121212;
    color: #FFFFFF;
    text-align: center;
}

.table_konten th,
.table_konten td{
    padding: 15px 15px;
}

.table_konten tbody tr{
    border-bottom: solid #e0e0e0;
    text-align: center;
}