body{
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
}

.sidebar{
    width: 382px;
    height: 1100px;
    left: 0px;
    top: 0px;
    background: #121212;
    float: left;
}

.app{
    display: flex;
    width: auto;
    padding: 5%;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 5%;
}

.app h2{
    font-size: 23px;
    font-weight: bold;
    color: white;
}

ul li{
    list-style: none;
}

ul li a{
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    color: #878787;
}
.content{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 40px;
}

.content h2{
    margin-top: 0;
    float: left;
}

.btn{
    width: 100px;
    background-color: #121212;
    border-radius: 5px;
    margin-bottom: 5px;
}

.btn a{
    text-decoration: none;
    color: white;
}

table tr:first-child{
    background-color: #121212;
}

table th{
    color: #FFFFFF;
}

