body{
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

/* sidebarnya */

.sidebar{
    width: 250px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #121212;
    float: left;
    flex-direction: column;
}

/* logo app dan title */
.app{
    display: flex;
    width: auto;
    padding: 5%;
}

.logo img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #FFFFFF;
}

.app h2{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 5%;
}

/* list menu */

ul{
    margin-top: 10%;
    padding-left: 10.1%;
}

ul li{
    list-style: none;
    margin-bottom: 6%;
}

ul li a{
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    color: #e0e0e0;
    margin-bottom: 10px;
}

/* konten */
.content{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    position: relative;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 89.1vh;
    width: 71.5vw ;
    border-radius: 30px;
    padding: 20px 5px;
    padding-left: 40px;
}

.content h2{
    margin-bottom: 5%;
}

.content a{
    width: 100px;
}

/* button submit */

.btn{
    position: relative;
    margin-bottom: 30%;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: solid 1px black;
    background-color: white;
}

.btn a{
    text-decoration: none;
    color: black;
}

.btn:hover{
    background-color: green;
    color: #FFFFFF;
    border: none;
}
/* table */

.table_konten table{
    border-collapse: collapse;
    font-size: 14px;
    border-spacing:0 ;
    width: 97%;
    box-shadow: 0 0 8px rgba(0,0,0,20);
}

.table_konten thead tr{
    background-color: #121212;
    color: #FFFFFF;
    text-align: center;
}

.table_konten th,
.table_konten td{
    padding: 15px 15px;
}

.table_konten tbody tr{
    border-bottom: solid #e0e0e0;
    text-align: center;
}

.btn-edit{
    width: 30px;
    height: 30px;
    background-color: blue;
    border: none;
    cursor: pointer;
}

.btn-hapus{
    width: 30px;
    height: 30px;
    background-color: red;
    border: none;
    cursor: pointer;
}

i{
    color: #FFFFFF;
}
